<div class="row">

  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">Local</div>
      <div class="panel-body">
        <p>
          <strong>Name:</strong> {{user.name}}<br/>
          <strong>Email:</strong> {{user.email}}<br/>
          <strong>Username:</strong> {{user.username}}<br/>
          <strong>Role:</strong> {{user.role.title}}<br/>
        </p>
        <p>
          <button class="btn btn-primary" ui-sref="edit">Edit</button>
        </p>
      </div>
    </div>
  </div>

</div>

<div class="row" data-ng-repeat="profiles in profilePairs">
  <div class="col-xs-6" data-ng-repeat="profile in profiles">
    <div class="panel panel-default">
      <div class="panel-heading">{{profile.provider}}</div>
      <div class="panel-body">
        <p data-ng-if="profile.id">
          <strong>id:</strong> {{profile.id}}<br/>
          <strong>token:</strong> {{profile.token | breakLongLine}}<br/>
          <a class="btn btn-danger" href="/api/auth/{{profile.provider}}/unlink">Sign Out</a>
        </p>
        <p>
          <a class="btn btn-primary" href="/api/auth/{{profile.provider}}" data-ng-if="!profile.id">Sign In</a>
        </p>
      </div>
    </div>
  </div>
</div>
