<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>

<form class="signin form-horizontal">
    <div class="form-group">
        <label class="col-md-4 control-label" for="email">Email</label>
        <div class="col-md-8">
            <input id="email" class="form-control" type="text" ng-model="user.email" placeholder="Email" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label" for="password">Password</label>
        <div class="col-md-8">
            <input id="password" class="form-control" type="password" ng-model="user.password" placeholder="Password" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
            <button class="btn btn-primary" ng-click="save(user)">Sign up</button>&nbsp;
            or&nbsp;<a class="show-login" href="/signin">Sign in</a>
        </div>
    </div>
</form>
