<div class="row">
  <div class="col-md-offset-1 col-md-5">
    <a href="/auth/facebook"><img src="/img/icons/facebook.png"></a>
    <a href="/auth/github"><img src="/img/icons/github.png"></a>
    <a href="/auth/twitter"><img src="/img/icons/twitter.png"></a>
    <a href="/auth/google"><img src="/img/icons/google.png"></a>
    <a href="/auth/linkedin"><img src="/img/icons/linkedin.png"></a>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">{{signin ? 'Sign In!' : 'Sign Up!'}}</h2>
      </div>
      <div class="panel-body">

        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.message}}</alert>

        <form class="signin form-horizontal">
          <div class="form-group" data-ng-hide="signin">
            <label class="col-md-4 control-label" for="name">Name</label>
            <div class="col-md-8">
              <input id="name" class="form-control" type="text" ng-model="user.name" placeholder="First Last" required />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label" for="email">Email</label>
            <div class="col-md-8">
              <input id="email" class="form-control" type="email" ng-model="user.email" placeholder="Email" required />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label" for="password">Password</label>
            <div class="col-md-8">
              <input id="password" class="form-control" type="password" ng-model="user.password" placeholder="Password" required />
            </div>
          </div>
          <div class="form-group" data-ng-hide="signin">
            <label class="col-md-4 control-label" for="confirm_password">Confirm</label>
            <div class="col-md-8">
              <input id="confirm_password" class="form-control" type="password" ng-model="user.confirm_password" placeholder="Confirm Password" />
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-offset-4 col-md-8" data-ng-hide="showSignin">
              <button class="btn btn-primary" data-ng-click="save(user)">Sign up</button>&nbsp;
              or&nbsp;<a class="show-login" data-ng-click="showSignin=true">Sign in</a>
            </div>

            <div class="col-md-offset-4 col-md-8" data-ng-show="showSignin">
                <button class="btn btn-primary" data-ng-click="signin(user)">Sign in</button>&nbsp;
                or&nbsp;<a class="show-login" data-ng-click="showSignin=false">Sign up</a>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>&nbsp;
</div>