<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Welcome!</h2>
    </div>
    <div class="panel-body">

      <alert ng-hide="!alert.msg" type="alert.type" close="alert={}">{{alert.msg}}</alert>

      <form class="signin form-horizontal">
        <div class="form-group">
          <label class="col-md-4 control-label" for="email">Email</label>
          <div class="col-md-8">
            <input id="email" class="form-control" type="email" ng-model="user.email" placeholder="Email" required />
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="password">Password</label>
          <div class="col-md-8">
            <input id="password" class="form-control" type="password" ng-model="user.password" placeholder="Password" required />
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-8 col-md-offset-4">
            <div class="checkbox">
              <label>
                <input id="rememberme" type="checkbox" ng-model="user.rememberme" />Remember Me
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-4 col-md-8">
            <button class="btn btn-primary" data-ng-click="signin(user)">Sign In</button>&nbsp;
          </div>
        </div>
      </form>

    </div>
  </div>
</div>&nbsp;
