<div class="navbar-inner" data-ng-controller="HeaderController">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example_navbar-collapse-1">
      <span class="sr-only">Toggle Navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">{{global.site.title}}</a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-ng-controller="UserCtrl">
    <form class="navbar-form navbar-right" role="login">
      <div class="form-group">
        <label class="sr-only" for="email">Email address</label>
        <input type="text" data-ng-model="user.email" id="email" class="form-control" placeholder="Email Address" name="email"/>
      </div>&nbsp;
      <div class="form-group">
        <label class="sr-only" for="password">Password</label>
        <input type="password" data-ng-model="user.password" id="password" class="form-control" placeholder="Password" name="password"/>
      </div>&nbsp;
      <button class="btn btn-default" data-ng-click="signin(user)">Sign In</button>&nbsp;
    </form>
  </div>
</div>
